@import 'styles/styles';

.register-modal {
  display: flex;
  flex-direction: column;
  background-color: $white;
  position: relative;
  @include cardBoxShadow;

  &__exit-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
  }

  &__text {
    border-bottom: 1px solid #dadde1;
  }

  @media only screen and (min-width: $medium) {
    border-radius: 0.5rem;
    width: 25rem;
  }

  &__form {
    padding: 1rem;
  }

  &__form-row {
    display: flex;
  }
}
