@import 'styles/breakpoints';
@import 'styles/colors';

.register-modal {
  width: 25rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  position: relative;

  &__exit-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
  }

  &__text {
    border-bottom: 1px solid #dadde1;
  }

  @media only screen and (min-width: $medium) {
    border-radius: 0.5rem;
  }

  &__form {
    padding: 1rem;
  }

  &__form-row {
    display: flex;
  }
}
