@import 'styles/styles';

.MuiInputBase-root {
  height: 3rem;
  border-color: $mediumGray !important;
}

.MuiInputBase-input::placeholder {
  opacity: 1 !important;
  color: $darkGray !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $mediumGray !important;
}

.MuiFormControl-root:focus-within .MuiOutlinedInput-notchedOutline {
  border: 1px solid $primary !important;
  box-shadow: 0 0 0 1px $primary !important;
}

.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: $red !important;
}

.Mui-error .MuiSvgIcon-root {
  color: $red !important;
}
