@import 'styles/styles';

.profile-details-delete-account-modal {
  display: flex;
  flex-direction: column;
  background-color: $white;
  position: relative;
  @include cardBoxShadow;

  &__text {
    text-align: center;
    @include bottomLine;
  }

  &__exit-button {
    position: absolute !important;
    right: 0.5rem !important;
    top: 0.5rem !important;
  }

  @media only screen and (min-width: $small) {
    border-radius: 0.5rem;
    width: 25rem;
  }

  &__content {
    text-align: center;
    padding: 1rem;
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
}
