@import 'styles/styles';

.chat-navbar {
  @include rightLine;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: $white;
  z-index: $z-index-medium-priority;

  @media only screen and (min-width: $large) {
    flex: 0.2;
  }

  &--hidden {
    display: none;

    @media only screen and (min-width: $large) {
      display: flex;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    @include bottomLine;
  }
}
