@import 'styles/styles';

.main {
  background: $background;
  height: 100vh;

  &__container {
    height: 80%;
    display: grid;
    background: $background;
    place-items: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 1.25rem;

    @media only screen and (min-width: $medium) {
      width: 31.25rem;
    }

    @media only screen and (min-width: $large) {
      text-align: left;
      margin: 3.125rem 1.25rem 0 0;
    }
  }

  &__title {
    font-size: $font-size-x-big;
    color: $primary;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (min-width: $large) {
      flex-direction: row;
      align-items: normal;
    }
  }

  &__link {
    color: $primary;
    text-decoration: none;
    text-align: center;
    font-size: 0.875rem;
    margin: 1rem 0;

    &:hover {
      text-decoration: underline solid;
    }
  }

  &__form-line {
    @include line;
    margin-bottom: 1rem;
  }

  &__form {
    width: 100%;

    @media only screen and (min-width: $medium) {
      width: 22rem;
    }
  }
}
