@import 'styles/styles';

.about-me {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__desc-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__subTitle {
    text-align: center;
  }

  &__desc {
    word-break: break-word;
    text-align: center;
  }

  &__chip {
    color: $secondary !important;
    border-color: $secondary !important;
  }
}
