.about-me {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__desc-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__desc {
    word-break: break-word;
    text-align: center;
  }
}
