@import 'styles/styles';

.edit-post-modal {
  &__container {
    background-color: $white;
    @include cardBoxShadow;
    width: 100vw;

    @media only screen and (min-width: $large) {
      width: 40vw;
      border-radius: 0.5rem;
    }

    @media only screen and (min-width: $large) and (max-width: $extraLarge) {
      width: 60vw;
    }
  }

  position: relative;
  display: flex;
  flex-direction: column;

  &__text {
    text-align: center;
    @include bottomLine;
  }

  &__exit-button {
    position: absolute !important;
    right: 0.5rem !important;
    top: 0.5rem !important;
  }

  &__input-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.313rem;
    padding-bottom: 1rem;
    @include line;
  }

  &__footer {
    padding: 1rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}
