.chat-navbar-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  margin: 1rem 0;
  height: 100%;

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
