@import 'styles/styles';

.matches {
  @include pageLayout;

  &__container {
    margin: 0 auto;
    background-color: white;
    height: 100%;
    padding: 0.5rem 1rem 0;

    @media only screen and (min-width: $medium) {
      width: 75%;
    }

    @media only screen and (min-width: $large) {
      padding: 1rem 1rem 0;
    }
  }
}
