@import 'styles/styles.scss';

.avatar-dropdown {
  display: flex;
  justify-content: flex-end;
  width: 18.5rem;

  &__avatar {
    margin-right: 0.5rem !important;
  }

  &__username {
    font-size: 1.125rem;
    color: black;
    display: none;

    @media only screen and (min-width: $medium) {
      display: block;
    }
  }

  &__icon-overlay {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #bdbdbd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem !important;
  }
}
