@import 'styles/styles';

.all-reports {
  @include flexColumn;

  &__search {
    margin: 2rem 2rem 0;
    width: 18.75rem;
    flex: 0 1 auto;
  }

  &__header {
    background-color: lighten($primary, 3%);
    color: $background;
    flex: 0 1 3.563rem;
    padding: 1rem;
    font-size: 1rem;
  }
}
