$primary: #006f71;
$secondary: #f4837d;
$mandy: #e8495f;
$background: #f0f2f5;
$white: #fff;
$darkGray: #757575;
$gray: #808080;
$mediumGray: #ced4da;
$silver: #65676b;
$slate: #bac7ce;
$pewter: #bdbdbd;
$lightGray: #ededed;
$black: #000;
$darkBlack: #1a2226;
$mediumBlack: #212529;
$lightBlack: #222d32;
$lightDark: #1e282c;
$red: #ff0000;
$green: #3e6363;
