// $font-size-xxx-big:
$font-size-x-big: 2.813rem;
$font-size-big: 1.25rem;
$font-size-medium: 0.875rem;
// $font-size-small:
// $font-size-x-small:
// $font-size-xxx-small:

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;

// $line-height-xxx-big:
// $line-height-x-big:
$line-height-big: 3rem;
$line-height-medium: 2.25rem;
$line-height-small: 1.5rem;
// $line-height-x-small:
// $line-height-xxx-small:
