@mixin line {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  text-align: center;
}

@mixin bottomLine {
  border-bottom: 1px solid #dadde1;
}

@mixin rightLine {
  border-right: 1px solid #dadde1;
}

@mixin leftLine {
  border-left: 1px solid #dadde1;
}

@mixin topLine {
  border-top: 1px solid #dadde1;
}
@mixin cardBoxShadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

@mixin pageLayout {
  height: calc(100vh - 8rem);

  @media only screen and (min-width: $large) {
    height: calc(100vh - 4rem);
  }
}
