@import 'styles/styles';

.login-form-header {
  &__login-form {
    display: none;

    @media only screen and (min-width: $large) {
      display: block;
    }
  }

  &__login-button {
    padding: 1rem 0;

    @media only screen and (min-width: $large) {
      display: none;
    }
  }
}
