@import 'styles/breakpoints';

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: calc(100% - 2rem);
  padding: 1rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

  @media only screen and (min-width: $medium) {
    border-radius: 0.5rem;
  }

  &--inverse {
    box-shadow: none;
    width: fit-content;
    flex-direction: row;
    align-items: center;
  }
}
