.login-form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 10rem;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
