@import 'styles/styles';

.profile-preview-edit-header {
  padding: 1rem;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: $z-index-large-priority;
  color: $white;

  @media only screen and (min-width: $medium) {
    font-size: $font-size-big;
    padding: 1rem 3rem;
  }

  &__buttons {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
