@import 'styles/styles';

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2.5rem;

  @media only screen and (min-width: $small) {
    margin: 0 auto;
    width: 90%;
  }

  @media only screen and (min-width: $extraLarge) {
    flex-direction: row;
    width: 75%;
  }
}
