@import 'styles/styles';

.header {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 0 2rem;
  background-color: $white;
  height: 4rem;
  z-index: $z-index-large-priority;
  @include cardBoxShadow;

  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: none;
    color: $primary;
    text-decoration: none;
    margin-right: 1rem;

    @media only screen and (min-width: $medium) {
      display: flex;
    }
  }

  &--inactive {
    pointer-events: none;
  }
}
