@import 'styles/styles';

.profile-header {
  top: calc(5rem - 1px);
  position: sticky;
  background-color: $white;
  height: 4rem;
  z-index: $z-index-medium-priority;
  @include cardBoxShadow;

  &__content {
    width: 75%;
    height: 100%;
    padding-left: 1.875rem;
    margin: 0 auto;
  }

  &__button {
    padding: 0 0.5rem;
    width: fit-content;
    background-color: inherit;
    border: none;
    height: calc(100% - 0.3rem);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.15rem 0;
    border-radius: 0.5rem;

    &:hover {
      background-color: darken($white, 8%);
    }
  }

  &__username {
    font-weight: $font-weight-semibold;
  }
}
