@import 'styles/styles';

.login-form {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 1rem;
  @include cardBoxShadow;

  @media only screen and (min-width: $medium) {
    border-radius: 0.5rem;
  }

  &--inverse {
    box-shadow: none;
    width: fit-content;
    flex-direction: row;
    align-items: center;
  }
}
