@import 'styles/styles';

.matches-list {
  height: 32.25rem;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 1rem;
  margin-top: 0.5rem;

  @media only screen and (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
  }

  @media only screen and (min-width: $extraLarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
