@import 'styles/styles';

.suggestions-navbar {
  @include pageLayout;
  @include rightLine;
  @include cardBoxShadow;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100%;
  top: calc(4rem - 1px);
  display: flex;
  flex-direction: column;
  background-color: $white;
  z-index: $z-index-normal-priority;

  @media only screen and (min-width: $large) {
    width: 20vw;
  }

  &--hidden {
    display: none;

    @media only screen and (min-width: $large) {
      display: flex;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    @include bottomLine;
  }
}
