@import 'styles/styles';

.reset-password {
  height: 100vh;

  &__container {
    height: 80%;
    display: grid;
    place-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: calc(100% - 2rem);
    @include cardBoxShadow;
    border-radius: 0.5rem;
    width: 100%;
    border-radius: 0;

    @media only screen and (min-width: $medium) {
      width: 31.25rem;
      border-radius: 0.5rem;
    }
  }

  &__form {
    @include topLine;
  }

  &__form-content {
    padding: 1rem;
  }

  &__form-wrapper {
    padding: 1rem;
  }

  &__title {
    font-size: 1.375rem;
    padding: 1rem;
  }

  &__buttons {
    @include topLine;
    display: flex;
    justify-content: flex-end;
  }
}
