@import 'styles/styles';

.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  &__name {
    font-size: 1rem;

    @media only screen and (min-width: $medium) {
      font-size: 1.5rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      cursor: pointer;

      .match__name {
        text-decoration: underline;
      }
    }
  }

  &__avatar {
    height: 3.125rem !important;
    width: 3.125rem !important;

    @media only screen and (min-width: $medium) {
      height: 9.375rem !important;
      width: 9.375rem !important;
    }
  }

  &__status {
    text-align: center;
  }

  &__mandy {
    display: flex;
    align-items: center;
    color: $mandy !important;
    font-size: 0.75rem;

    @media only screen and (min-width: $medium) {
      font-size: 1rem;
    }
  }

  &__buttons {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;

    @media only screen and (min-width: $medium) {
      & .button,
      .MuiSvgIcon-root {
        font-size: 1rem !important;
      }
    }

    & .button,
    .MuiSvgIcon-root {
      font-size: 0.625rem !important;

      @media only screen and (min-width: $medium) {
        font-size: 1rem !important;
      }
    }
  }
}
